contourpy>=1.3
cycler>=0.12
fonttools>=4.56
kiwisolver>=1.4
matplotlib>=3.8
numpy>=2.0
packaging>=24.0
pandas>=2.0
pillow>=11.0
pyparsing>=3.2
python-dateutil>=2.9
pytz>=2024
scipy>=1.15
seaborn>=0.13
six>=1.17
tzdata>=2024